<div style="width:600px">
	<ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden"
		navigation="arrows" [showWeekdays]="true">
	</ngb-datepicker>
</div>

<hr>

<div style="width:800px">
	<ngb-datepicker #dp2 (select)="onDateSelection($event)" [displayMonths]="1" [dayTemplate]="t" outsideDays="hidden"
		navigation="arrows" [showWeekdays]="true">
	</ngb-datepicker>
</div>

<ng-template #t let-date let-focused="focused" let-selected="selected">
	<div class="text-center" [class.start]="date.equals(fromDate)" [class.end]="date.equals(toDate)" [class.first]="date.day === 1" [class.last]="date.day === lastDayOfMonth(date)"
		[class.faded]="isHovered(date) || isInside(date)">
		<span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
      (mouseleave)="hoveredDate = null">
      {{ date.day }}
    </span>
	</div>
</ng-template>

<hr>

<pre>From: {{ fromDate | json }} </pre>
<pre>To: {{ toDate | json }} </pre>
